@import '../utils/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&family=Stalemate&display=swap');


#root {
    text-align: center;
    padding: 0;
    min-height: 100vh;
    font-family: 'Schoolbell', cursive;
    font-size: medium;
    background: rgb(157,141,241);

     
}   