$gold:#E7BB41;
$light-purple:#9D8DF1;
$blue:#ccd6eb;
$dark-purple:#392759;
$pink:#EF476F;

// @import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Schoolbell&family=Stalemate&display=swap');
// font-family: 'Stalemate', cursive; letra títulos
// font-family: 'Schoolbell', cursive; letra cuento

