@import "../utils/variables.scss";

        .card-container{
           
            background-color: plum;
            border-radius:50px;
            box-shadow: 0px 0px 10px 9px $dark-purple;
       
    
            #storie{
                margin: 25px;
                
            } 
        
            .card-button{
                background-color: palevioletred;
                margin-top: 5%;
                padding: 15px;
                font-size: larger;
                border: 5px solid  white;
                border-style:double;
            }
            
            // .card-img{
                
            // }
        
             
               
            .card-title{
                font-weight: bold;
                font-size: x-large;
            }
    
        }
        
    
    
    



@media (width > 700px){
  
    
    
    
}