@import '../utils/variables.scss';
@import '../utils/mixin.scss';

.logo{
    width: 90%;
    height:auto;
    margin: 0;
   
}


@media (min-width:800px){


    .logo{
    width: 50%;
    height:auto;
   
}
}
