
@import "../utils/variables.scss";

.login-form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
   


    p{
        font-size: large;

    }

    .inputs{
        
    }
 
    .submit-button{
        color: aqua;
        

        
    }
}

section{
    .normal-button {
       
       
    
    }
}




    